.marquee {
  width: 100%;
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  /* calc is based on # of span items; 5 span items = 20% (100/5) */
  --move-initial: calc(-20% + var(--offset));
  --move-final: calc(-39.55% + var(--offset));
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: running;
}

/* .marquee:hover .marquee__inner {
  animation: marquee 7s linear infinite;
} */

.marquee div {
  font-size: 10vw;
  padding: 0 2vw;
}

/* svg image {
  width: 80%;
} */

/* svg {
  transform: scale();
  width: 1000px;
} */

@keyframes marquee {
  0% {
      transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
      transform: translate3d(var(--move-final), 0, 0);
  }
}