.hidden {
    visibility: hidden; 
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s linear;
}

/* scrolled */

.sticker-marquee-scrolled svg {
    width: 140px;
}

.menu-scrolled {
    margin-left: 52px;
    margin-top: 6px;
}

.menu-scrolled div {
    display: flex;
    margin-right: 25px;
}

.menu-scrolled a {
    font-size: 1.5rem;
}

/* unscrolled */

.header {  
    padding: 20px 0 0 0;
    margin-top: -30px;
    width: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .6), rgba(255, 255, 255, .8),rgba(255, 255, 255, .9), rgba(255, 255, 255, 1));
    display: flex;
    position: fixed;
    opacity: 90%;
}
  
.sticker-marquee {
    display: flex;
    flex-direction: column;
    position: fixed;
}

.sticker-marquee svg {
    padding-bottom: 20px;
    width: 295px;
}

.menu {
    margin-top: -13px;
    font-size: 3rem;
    position: absolute;
    margin-left: 344px;
}