* {
  color: #433aba;
  margin: 0px;
  padding: 0px;
}

.App {
  margin: 30px;
  font-family: 'Inconsolata', monospace;
  /* font-family: 'Anonymous Pro', monospace; */
  /* font-family: 'Fira Mono', monospace; */
  font-weight: 600;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* shared */
.bold-font {
  font-weight: 800;
}

img {
  width: 750px;
  margin-top: -30px;
}

@media screen and (max-width: 660px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .menu {
    margin-left: 18px;
    font-size: 1.5rem;
  }
}
