.active-menu-item {
    background-color: yellow;
    text-decoration: none;
    width: fit-content;
}

.menu-item {
    text-decoration: underline;
}

.menu-item:hover {
    background-color: yellow;
}

.active-menu-item::before {
    content: "> ";
}